/* Resources.css */
.section {
  text-align: center;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.card {
  width: 50%;
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.card input {
  margin-top: 1rem;
}

.card button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0066cc;
  color: white;
  border: none;
  cursor: pointer;
}

.card button:hover {
  background-color: #005bb5;
}